{% include 'layout.html'%}

<html>
    <center>
    <form method="POST">
        <body align="center">
            <h2>Welcome {{name}} to the {{locationName}} Tailors</h2>
                
        <!-- <select name="shop" id="shop" >
            <option value=""></option>
            {% for shop in shops %}
            <option value={{shop.id}}>{{ shop.name}}</option>
            {% endfor %}
            
        </select> -->
        <table class="table table-hover table-bordered table-dark" align="center">
            <thead>
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col"></th>
                    <th scope="row"></th>
                </tr>
            </thead>
            
            {% for shop in shops %}
            <tbody>
                
                <tr>
                    <th scope="row"></th>
                    <td>{{shop.name}}</td>
                    <td>{{shop.address}}</td>
                    <td><button name="button" method="POST" value="{{shop.id}}">Select</button></td>
                    <th scope="row"></th>
                </tr>
            </tbody>
            {% endfor %}
            
        </thead>
        </table>
        </body>
        {% csrf_token %}
    </form>
</center>
</html>